@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway|Ubuntu');

body {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4{
  font-family: 'Ubuntu', sans-serif;
}